<h1>Create Categoty </h1>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Category Name</label>
        <input type="category" class="form-control" placeholder="Enter Category" id="Category">
    <div class="mb-3">
            <label for="display order" class="form-label">Display Order</label>
            <input type="Display" class="form-control" id="DisplayOrder">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>